<style></style>
<body style="background-color: rgb(154, 71, 233); text-align: center; margin-left: 30%; margin-right: 30%;">
    <br>
    <br>
    <div style="background-color: rgb(204, 158, 247); margin-left: 5%; margin-right: 5%;"><br>
        <br>
        <h1>ANDROID</h1>
        <div >
            <br>
            <p style="text-align: center;"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png"></p>
            <br>
        </div>
        
        <br>
        <br>
        <b>NAME</b>
        <br>
        <br>
        {{ nombre }}
        <br>
        <br>
        <b>EMAIL</b>
        <br>
        <br>
        {{ correo }}
        <br>
        <br>
        <b>PHONE NUMBER</b>
        <br>
        <br>
        {{ numero }}
        <br>
        <br>
        <b>Ticket/seat</b>
        <br>
        <br>
        <p>Mud run Participant</p>
        <br>
        <br>
        <b>Event</b>
        <br>
        <p>Endurance Event with Group <br>Registration, Registation Transfers,<br> and Auto-Assign Numbers enabled</p>
        <br>
        <br>
        <div >
            <p style="text-align: center;"><b>Date</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Localition</b></p>
            <p style="text-align: center;">Fri.Feb 21 2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Golden Gate park</p>
            <p style="text-align: center;">&nbsp;7:00 AM PST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;San Francisco. CA</p>
            
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button (click)="volver()">REGRESAR</button>
        <br>
        <br>

    </div>
    <br>
    <br>

</body>