<body style="background-color: rgb(181, 126, 232); text-align: center;">
    <h1>Android</h1>
<p style="text-align: center;"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png"></p>
<br>
<br>
<p>NAME</p>
{{ nombre }}
<br>
<br>
<p>EMAIL</p>
{{ correo }}
<br>
<br>
<p>PHONE NUMBER</p>
{{ numero }}
<br>
<br>
<p>Ticket/seat</p>
<p>Mud run Participant</p>
<br>
<br>
<p>Event</p>
<p>Endurance Event with Group Registration,<br> Registation Transfers,<br> and Auto-Assign Numbers enabled (Example)</p>
</body>